# Eclipse: configuración local del workspace
**/.metadata/
**/.recommenders/
**/RemoteSystemsTempFiles/

# Eclipse: configuración del proyecto
**/.settings/
**/.classpath
**/.project

# Maven
**/target/

# Java compilado
*.class

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.log
*.tmp